body{
  height:90vh;
  width:100vw;
}
.grid-panel{
  box-shadow: inset  0 0 0 0.02rem #dedede;

}
.ao-plot{
  width:100%;
  height:90%;
}
.continuous-discrete{
  padding-top:.1rem;
  padding-bottom:.1rem;
}
.discrete-continuous{
  padding-right:.1rem;
  padding-left:.1rem;
}
.discrete-discrete{
  padding-right:.1rem;
  padding-left:.1rem;
   padding-top:.1rem;
  padding-bottom:.1rem;
}
.axis-tick,.axis-line{
    background-color:#ededed;

}
.y-axis.axis-tick{
    width:.1rem;
    height:100%;
}
.x-axis.axis-tick{
    width:100%;
    height:.1rem;
}
.x-axis.axis-line.zero-line{
    border-left:.05rem dotted #adadad;
    background-color:transparent;
}
.y-axis.axis-line.zero-line{
 border-top:.05rem dotted #adadad;
 background-color:transparent;

}
.axis-continuous .axis-label:not(.axis-md),
.axis-continuous .axis-tick:not(.axis-md),
.axis-continuous .axis-tick:not(.axis-md),
  .axis-line:not(.axis-md){
    display:none;
}
 .axis-line.zero-line{
     display:block;
}
.axis-label,.header,.chart-label{
 font-size:.83rem;
color:#696969;
 }

.row-header{
  padding-right:.5rem;
}
.x-axis .axis-label{
 align-self: right;
 justify-self:center;
 margin-top:.3rem;
}
.y-axis .axis-label{
     align-self: center;
 justify-self: end;
 margin-right:.3rem;
}

.position-identity{
  width:100%;
  height:100%;
  display:grid;
  grid-template-rows:100%;
  grid-template-columns:100%;
  position:relative;
}
.h-neg.continuous-discrete{
  justify-content: flex-end;
}
.position-stack{
  display:flex;
  align-items:center;
}

.position-stack.discrete-continuous{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: flex-end;
}

.h-neg.position-stack.discrete-continuous{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: flex-start;
}
.position-dodge{
  width:100%;
  height:100%;
  display:grid;
  grid-auto-rows:1fr;
  grid-template-columns:1fr;
}

.position-dodge.discrete-continuous{
  width:100%;
  height:100%;
  display:grid;
  grid-auto-columns:1fr;
  grid-template-rows:1fr;
  grid-auto-flow:column;
  align-items:end;
}


.mark-path{
  position:absolute;
}
.mark-point{
  position:absolute;
  transform: translate(-50%, 50%);
  margin: 0;
}

line{
  vector-effect: non-scaling-stroke;
}
.position-identity svg{
   position:absolute;
}

.mark-bar{
  position:relative;
  display:flex;
  justify-content:flex-end;
}
.discrete-continuous .mark-bar{
  display:flex;
  flex-direction:column;
  writing-mode: vertical-lr;
   justify-content:center;
}
polygon,polyline,rect,line{
  vector-effect: non-scaling-stroke;
}
.bar-label{
  max-width:max(0px,calc((100% - .5*var(--char))*999));
  overflow:hidden;
}
