body {
font-family: 'Roboto', sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 52px 0 0;
  background-color:#e1e5e6;

}
 body > div.container-fluid  {

    padding-right: 0px !important;
    padding-left: 0px !important;


}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
.btn-sq-lg {
  width: 150px;
  height: 150px;
}

.btn-sq {
  width: 100px;
  height: 100px;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px;
  height: 50px;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px;
  height: 25px;
  padding:2px;
}


.feather {

  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  z-index: 200; /* Behind the navbar */
  padding: 48px 0 0 0; /* Height of navbar */
   margin: 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


.ghost-class{
  height:10px;
  width:100%;
  background-color:#404040 !important;
  overflow:hidden;
}

.ghost-class-vertical{
  width:10px;
  height:100%;
  background-color:#404040 !important;
  overflow:hidden;
}

.ghost-class > div{
  visibility:hidden;
}
.gutter.gutter-vertical {
    cursor: ns-resize;
}
.gutter.gutter-vertical:hover {
    cursor: ns-resize;
}
.handle {
    min-height:25px;
    min-width:100px;
}

.handle:hover {
    cursor:move;
    min-height:25px;
}
.shelf-body{
   min-height:25px;
}
.handle-drag{
     min-height:25px;
    min-width:100px;
     overflow:hidden;

}

.measure-shelf{
   width: 125px ;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);

  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }


.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
.navbartop {
  max-height:28px;
}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  border:none;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.navbar-bon {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}
.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
